.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 200px;
    height: 100%;
  }
}
