.container {
  padding: 0 600px 0 100px;
}

@media only screen and (max-width: 1200px) {
  .container {
    position: absolute;
    padding: 0px 60px 0 60px;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 0 400px 0 100px;
  }
}
