.container {
  padding: 68px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 78px 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 78px 200px;
  }
}
