.container {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.container ul {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.container ul li {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  }
}
